{% extends "base.html" %}
{% block navigation %}
<nav>

    <a href="/" {% if request.path == "/" %}aria-current="page"{% endif %}>
        <img
            class="nav-icon"
            src="{{ url_for('static', filename='home-icon.png') }}"
            alt=""
        >
        <span>Home</span>
    </a><br>

    <a href="/internet-history" {% if request.path == "/internet-history" %}aria-current="page"{% endif %}>
        <img
            class="nav-icon"
            src="{{ url_for('static', filename='internet-history-icon.png') }}"
            alt=""
        >
        <span>Internet History</span>
    </a><br>

    <a href="/web-history" {% if request.path == "/web-history" %}aria-current="page"{% endif %}>
        <img
            class="nav-icon"
            src="{{ url_for('static', filename='web-history-icon.png') }}"
            alt=""
        >
        <span>Web History</span>
    </a><br>

    <a href="/internet-history-ai" {% if request.path == "/internet-history-ai" %}aria-current="page"{% endif %}>
        <img
            class="nav-icon"
            src="{{ url_for('static', filename='internet-history-ai-icon.png') }}"
            alt=""
        >
        <span>Internet History (AI)</span>
    </a><br>

    <a href="/web-history-ai" {% if request.path == "/web-history-ai" %}aria-current="page"{% endif %}>
        <img
            class="nav-icon"
            src="{{ url_for('static', filename='web-history-ai-icon.png') }}"
            alt=""
        >
        <span>Web History (AI)</span>
    </a><br>

</nav>
{% endblock %}